doctype html
html(lang='en')
    head
        title ToDoList
    body
        //whenever we want to output the view
        block content
        br
        hr
        footer
            p Copyright &copy;2020
